header, main, footer {
	padding-left: 300px;
  }

.bg{
	background-image: linear-gradient(to top left,#539ADC,#F6F2F9);
}
nav{
	background-image: linear-gradient(to top right,#539ADC,#F6F2F9); 
	padding-left: 300px;
}

.content{
	padding-left: 300px;
	height:100%;
}
.card-bg{
	background: rgba(0,0,0,0);
}
@media only screen and (max-width: 992px){
	.content,nav{
		padding-left: 0;
	}
}
